<!-- Modal -->

<!--
    Вопросы и ответы квиз

    1.Вопрос: Какого результата хотите достичь?
        Ответ: Контекстная реклама, Таргетированная реклама, Лидогенерация, SMM, Разработка сайта, Редизайн сайта, Маркетинг под  ключ, Другое

    2.Вопрос: Какого результата хотите достичь?
        Подзаголовок: Выберите то, что вам подходит.
        Ответы: Увеличить конверсию, Привлечь клиентов, Улучшить ROI, Всё перечисленное, Другое
        Кнопка: Продолжить
    3. Last Step!

-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content position-relative">
            <button type="button" class="btn_modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body p-0">
                <div class="container-fluid p-0 s-quiz" id="quiz">
                    <form action="" class="s-quiz__inner d-flex flex-column align-items-center py-5">
                        <div class="row mb-5">
                            <div class="col-12">
                                <h2 class="title title_medium text-center">Какого результата хотите достичь?</h2>
                                <h3 class="s-quiz__subtitle text-white text-center fw-400">Ответьте на 3 вопроса и
                                    выберите то, что вам подходит</h3>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap s-quiz__answers-box justify-content-start mb-5">
                            <div class="form_radio_btn mx-3">
                                <input id="radio-1" type="radio" name="radio" value="1">
                                <label for="radio-1">Контекстная реклама</label>
                            </div>

                            <div class="form_radio_btn mx-3">
                                <input id="radio-2" type="radio" name="radio" value="2">
                                <label for="radio-2">Таргетированная реклама</label>
                            </div>

                            <div class="form_radio_btn mx-3">
                                <input id="radio-3" type="radio" name="radio" value="3">
                                <label for="radio-3">Лидогенерация</label>
                            </div>

                            <div class="form_radio_btn mx-3">
                                <input id="radio-4" type="radio" name="radio" value="4">
                                <label for="radio-4">SMM</label>
                            </div>

                            <div class="form_radio_btn mx-3">
                                <input id="radio-5" type="radio" name="radio" value="5">
                                <label for="radio-5">Разработка сайта</label>
                            </div>

                            <div class="form_radio_btn mx-3">
                                <input id="radio-6" type="radio" name="radio" value="6">
                                <label for="radio-6">Редизайн сайта</label>
                            </div>

                            <div class="form_radio_btn mx-3">
                                <input id="radio-7" type="radio" name="radio" value="7">
                                <label for="radio-7">Маркетинг под ключ</label>
                            </div>

                            <!-- <div class="form_radio_btn mx-3">
                      <input id="radio-8" type="radio" name="radio" value="8">
                      <label for="radio-8">Другое</label>
                  </div> -->
                        </div>
                        <div class="row justify-content-center w-100 p-0 m-0">
                            <button class="btn btn_red btn_s-quiz text-nowrap" type="submit">Получить
                                предложение</button>
                        </div>
                    </form>
                    <!-- last-step -------------------------------------------->
                    <div class="s-quiz__last-step d-flex flex-column flex-lg-row justify-content-between pt-5 pt-lg-0">
                        <form action="#" class="s-quiz__last-step__form d-flex flex-column align-items-start">
                            <h4 class="s-quiz__last-step__form__title text-white fw-400 mb-5">Мы почти закончили.
                                Маркетинговый план готов, кому мы это отправим?</h4>
                            <p class="s-quiz__last-step__form__input-name text-white mx-0 mx-sm-auto mx-xl-0">
                                Ваше Имя
                            </p>
                            <input type="text" class="s-quiz__last-step__form__input mx-0 mx-sm-auto mx-xl-0 mb-4"
                                placeholder="Иван">
                            <p class="s-quiz__last-step__form__input-name text-white mx-0 mx-sm-auto mx-xl-0">
                                Ваш номер
                            </p>
                            <input type="text" class="s-quiz__last-step__form__input mx-0 mx-sm-auto mx-xl-0 mb-5"
                                placeholder="+7 (999) 999 - 99 - 99">
                            <button class="btn btn_red d-block align-self-center align-self-lg-start">Отправить</button>
                        </form>

                        <div
                            class="s-quiz__last-step__trap d-flex flex-column justify-content-between align-items-center">
                            <div class="mb-4 mb-lg-0">
                                <h4 class="s-quiz__last-step__trap__title text-center text-white fw-700">Не удобно
                                    ждать?</h4>
                                <h6 class="s-quiz__last-step__trap__discription text-center text-white fw-400">Можете
                                    связаться с нами и мы начнём работу.</h6>
                            </div>

                            <div>
                                <h4 class="s-quiz__last-step__trap__title text-center text-white fw-400">Звони сейчас
                                </h4>
                                <a href="#"
                                    class="s-quiz__last-step__trap__title text-center text-white fw-700 text-decoration-none">(866)
                                    204-2028</a>
                            </div>
                        </div>
                    </div>
                    <!-- last-step -------------------------------------------->
                </div>
            </div>
        </div>
    </div>
</div>