<div class="container mt-section">
    <div class="row s-agency">
        <div class="col-12">
            <h2 class="title title_medium text-center">Мы станем</h2>
            <h3 class=" title title_mini text-center title_line-bottom">последним агентством маркетинга, с которым вы ведете работу</h3>
            <p class="text-center s-agency__discription mx-auto mt-5">Вам просто не захочется переходить к другим, потому что Лидс Хантер -  это то, что вам нужно!</p>
        </div>
    </div>
    <div class="row s-agency__dark-container position-relative mt-section">
        <div class="col-12 col-xl-4 d-flex flex-column justify-content-around order-1 order-xl-1">
            <div class="">
                <div class="position-relative">
                    <p class="s-agency__num text-center text-xl-end">01</p>
                    <img src="img/s-agency/line-num/1.png" alt="" class="s-agency__num-line s-agency__num-line_1">
                    <div class="s-agency__left-line"></div>
                </div>
                <p class="text-center text-xl-end fw-800">Другие просто дают много обещаний? А наша команда <span class="text-white">проводит работу над всеми вопросами маркетинга</span> вашей компании. Мы избавим вас от головной боли!</p>
            </div>
            <div class="">
                <div class="position-relative">
                    <p class="s-agency__num text-center text-xl-end">02</p>
                    <img src="img/s-agency/line-num/2.png" alt="" class="s-agency__num-line s-agency__num-line_2">
                    <div class="s-agency__right-line"></div>
                </div>
                <p class="text-center text-xl-end fw-800">Агентства использовали обычные решения? Мы
                    <span class="text-white">применяем новые и действуем своим проверенным путем</span>, реализуя эффективные пути маркетинга!</p>
            </div>
        </div>
        <div class="col-12 col-xl-4 order-3 order-xl-2">
            <img src="img/s-agency/big-img.png" alt="" class="s-agency__img">
        </div>
        <div class="col-12 col-xl-4 d-flex flex-column justify-content-around order-2 order-xl-3">
            <div class="">
                <div class="position-relative">
                    <p class="s-agency__num text-center text-xl-start">03</p>
                    <img src="img/s-agency/line-num/3.png" alt="" class="s-agency__num-line s-agency__num-line_3">
                    <div class="s-agency__left-line"></div>
                </div>
                <p class="text-center text-xl-start fw-800">Наши конкуренты делают липовые отчеты? А мы с легкостью добиваемся результата и даем его вам! Вам не нужно ждать месяцы,<span class="text-white"> мы сразу предоставляем результат.</span></p>
            </div>
            <div class="">
                <div class="position-relative">
                    <img src="img/s-agency/line-num/4.png" alt="" class="s-agency__num-line s-agency__num-line_4">
                    <p class="s-agency__num text-center text-xl-start">04</p>
                    <div class="s-agency__right-line"></div>
                </div>
                <p class="text-center text-xl-start fw-800">У вас забирают бюджет и бездумно им заправляют?<span class="text-white"> Мы используем отработанные решения и экономим ваши средства.</span> Наши сотрудники - настоящие асы своего дела.</p>
            </div>
        </div>
        <div class="s-agency__red-container d-flex flex-column flex-xl-row justify-content-around py-4">
            <div>
                <h3 class="title title_mini text-center text-xl-start">Наша компания уже давно работает в этой сфере.</h3>
                <p class="fw-400 text-white text-center text-xl-start mb-4 mb-xl-0">Мы предоставляем только качественную эффективную работу.</p>
            </div>
            <button class="btn btn_white d-block mx-auto mx-xl-0" data-bs-toggle="modal" data-bs-target="#exampleModal">Получить предложение</button>
        </div>
    </div>
</div>