<div class="container s-cases mt-section">
    <div class="row">
        <div class="col-12">
            <h2 class="title title_medium text-center">Наши кейсы</h2>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 mt-5">
        <div class="col mb-5">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/1.png" alt="" class="w-100">
            </div>
            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Разработка интернет магазина готовой здоровой еды.</p>
            <p class="fw-700 px-0 px-xl-3">Мы все сделаем за вас и позаботимся о том, чтобы настроить для вас рекламу, разработать для вас сайт или провести лидогенерацию.</p>
        </div>
        <div class="col mb-5">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/2.png" alt="" class="w-100">
            </div>
            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Разработка лендинга по производсту и установки пластиковых окон.
                </p>
            <p class="fw-700 px-0 px-xl-3">Мы все сделаем за вас и позаботимся о том, чтобы настроить для вас рекламу, разработать для вас сайт или провести лидогенерацию.</p>
        </div>
        <div class="col mb-5">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/3.png" alt="" class="w-100">
            </div>
            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Разработка лендинга по изготовлению полиэтиленовых пакетов.
                </p>
            <p class="fw-700 px-0 px-xl-3">Мы все сделаем за вас и позаботимся о том, чтобы настроить для вас рекламу, разработать для вас сайт или провести лидогенерацию.</p>
        </div>
        <div class="col mb-5">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/4.png" alt="" class="w-100">
            </div>
            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Экспертное управление эффективными решениями.
                </p>
            <p class="fw-700 px-0 px-xl-3">Мы все сделаем за вас и позаботимся о том, чтобы настроить для вас рекламу, разработать для вас сайт или провести лидогенерацию.</p>
        </div>
        <div class="col mb-5">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/5.png" alt="" class="w-100">
            </div>
            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Экспертное управление эффективными решениями.
                </p>
            <p class="fw-700 px-0 px-xl-3">Мы все сделаем за вас и позаботимся о том, чтобы настроить для вас рекламу, разработать для вас сайт или провести лидогенерацию.</p>
        </div>
        <div class="col mb-5">
            <div class="s-cases__img-box">
                <div class="s-cases__img-box__decor">
                    <p class="s-cases__img-box__decor__sphere">•••</p>
                </div>
                <img src="img/s-cases/6.png" alt="" class="w-100">
            </div>
            <p class="fw-700 mt-4 text-white px-0 px-xl-3">Экспертное управление эффективными решениями.
                </p>
            <p class="fw-700 px-0 px-xl-3">Мы все сделаем за вас и позаботимся о том, чтобы настроить для вас рекламу, разработать для вас сайт или провести лидогенерацию.</p>
        </div>
    </div>
</div>