<div class="container">
    <div class="row s-option">
        <div class="col-12">
            <h2 class="title title_medium text-center">Выбирайте сами</h2>
            <h3 class=" title title_mini text-center title_line-bottom">как будет строиться наша работа: <br>
                от разовых моментов сотрудничества, до “Маркетинг - все включено”</h3>
            <p class="text-center s-option__discription mx-auto mt-5">Обратитесь к нам, и вам больше не придется ломать голову над тем, где взять потенциальных клиентов. Мы поможем вашей компании стать лучше.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row my-5">
            <div class="s-option__box-ico position-relative mx-auto me-lg-5">
                <img src="img/s-option/ico/1.png" alt="" class="position-absolute s-option__box-ico__ico-top">
                <img src="img/s-option/trap.png" alt="" class="position-absolute s-option__box-ico__ico-botton">
            </div>
            <p class="fw-700 text-center text-lg-start align-self-center"><span class="text-white">Экспертное управление эффективными решениями.</span> Мы все сделаем за вас и позаботимся о том, чтобы настроить для вас рекламу, разработать для вас сайт или провести лидогенерацию.</p>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row  my-5">
            <div class="s-option__box-ico position-relative mx-auto me-lg-5">
                <img src="img/s-option/ico/2.png" alt="" class="position-absolute s-option__box-ico__ico-top">
                <img src="img/s-option/trap.png" alt="" class="position-absolute s-option__box-ico__ico-botton">
            </div>
            <p class="fw-700 text-center text-lg-start align-self-center"><span class="text-white">Глубокий анализ аудитории.</span> Вы получите подробный анализ потенциальных клиентов, что повысит результативность всех наших решений как в рекламе, так и в продвижении вашей компании.</p>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row  my-5">
            <div class="s-option__box-ico position-relative mx-auto me-lg-5">
                <img src="img/s-option/ico/3.png" alt="" class="position-absolute s-option__box-ico__ico-top">
                <img src="img/s-option/trap.png" alt="" class="position-absolute s-option__box-ico__ico-botton">
            </div>
            <p class="fw-700 text-center text-lg-start align-self-center"><span class="text-white">Постоянное взаимодействие.</span> Ваша компания получит не только качественную работу, но и ежедневную помощь от профессиональных сотрудников Лидс Хантер.</p>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column flex-lg-row  my-5">
            <div class="s-option__box-ico position-relative mx-auto me-lg-5">
                <img src="img/s-option/ico/4.png" alt="" class="position-absolute s-option__box-ico__ico-top">
                <img src="img/s-option/trap.png" alt="" class="position-absolute s-option__box-ico__ico-botton">
            </div>
            <p class="fw-700 text-center text-lg-start align-self-center"><span class="text-white">Высокая производительность.</span> Мы сотрудничаем с вами на выгодных и доступных условиях. Наша команда знает, как правильно настроить рекламную кампанию, как продвигать ваш бренд и как быстро привлечь клиентов.</p>
        </div>
    </div>
</div>