<div class="position-relative mt-section container-fluid s-plan">
    <div class="s-plan__red-box position-absolute"></div>
    <div class="s-plan__dark-box position-absolute"></div>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-lg-7 s-plan__mobile-container">
                <p class="title_mini fw-400 s-plan__text-mobile">Наше маркетинговое агентство предоставит </p>
                <h4 class="title title_small text-uppercase fw-700">индивидуальный маркетинговый план</h4>
                <p class="fw-400 title_mini mt-4 title_line-bottom s-plan__text-mobile">для вашей компании, который покажет точные шаги развития. Все это мы будем использовать для достижения целей!</p>
                <p class="fw-400 text-white mt-5">Вы получите профессиональную оценку и работу от Лидс Хантер. Мы провели множество экспериментов и опытов с различными ресурсами.</p>
            </div>
            <div class="col-11 col-lg-3 d-flex align-items-center justify-content-end">
                <form action="#" class="d-flex flex-column form-page s-plan__bg-mobaile mx-auto">
                    <input type="text" placeholder="Ваше имя" class="form-page__input">
                    <input type="text" placeholder="Ваш телефон" class="form-page__input">
                    <button class="btn btn_red d-block mx-auto mt-4">Получить предложение</button>
                </form>
            </div>
        </div>
    </div>
</div>