<div class="container s-why mt-section">
    <div class="row">
        <div class="col-12">
            <h2 class="title title_medium text-center">Почему</h2>
            <h3 class=" title title_mini text-center title_line-bottom">с нами работать выгоднее и эффективнее?</h3>
            <p class="text-center s-why__discription mx-auto mt-5">Обратитесь к нам, и вам больше не придется ломать голову над тем, где взять потенциальных клиентов. Мы поможем вашей компании стать лучше.</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 mt-5">
        <div class="col d-flex flex-column flex-xl-row align-items-center">
            <div class="s-why__ico-box align-self-center align-self-xl-start me-4">
                <img src="img/s-why/ico-red/1.png" alt="" class="s-why__red-ico">
                <div class="s-why__ico-box__white-box">
                    <div class="s-why__ico-box__sphere"></div>
                    <img src="img/s-why/ico-white/1.png" alt="" class="s-why__ico-white">
                </div>
                
            </div>
            <p class="s-why__text-card fw-400 text-center text-xl-start mt-5 mt-xl-0 ms-0 ms-xl-4">
                Вы получите индивидуальную информацию о том, какие маркетинговые стратегии и тактики лучше всего сработают для развития вашего бизнеса
            </p>
        </div>
        <div class="col d-flex flex-column flex-xl-row align-items-center">
            <div class="s-why__ico-box align-self-center align-self-xl-start me-4">
                <img src="img/s-why/ico-red/2.png" alt="" class="s-why__red-ico">
                <div class="s-why__ico-box__white-box">
                    <div class="s-why__ico-box__sphere"></div>
                    <img src="img/s-why/ico-white/2.png" alt="" class="s-why__ico-white">
                </div>
                
            </div>
            <p class="s-why__text-card fw-400 text-center text-xl-start mt-5 mt-xl-0 ms-0 ms-xl-4">
                Сотрудничая с нами, ваша компания получает помощь от настоящих специалистов в области развития маркетинга. Мы исследуем нишу вашей сфере с индивидуальным подходом
            </p>
        </div>
        <div class="col d-flex flex-column flex-xl-row align-items-center">
            <div class="s-why__ico-box align-self-center align-self-xl-start me-4">
                <img src="img/s-why/ico-red/3.png" alt="" class="s-why__red-ico">
                <div class="s-why__ico-box__white-box">
                    <div class="s-why__ico-box__sphere"></div>
                    <img src="img/s-why/ico-white/3.png" alt="" class="s-why__ico-white s-why__ico-white_last-ico">
                </div>
                
            </div>
            <p class="s-why__text-card fw-400 text-center text-xl-start mt-5 mt-xl-0 ms-0 ms-xl-4">
                Наши специалисты будут с вами на связи буквально 24/7, если у вас появятся вопросы или предложения
                по сотрудничеству и эффективности работы
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-xl-8 s-why__dark-card mx-auto p-5">
            <h4 class="title title_mini text-center">Хотите повысить эффективность работы вашего бизнеса?</h4>
            <button class="btn btn_red d-block mx-auto mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">Да, хочу!</button>
        </div>
    </div>
</div>